// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.card-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.director_message{
height: 200px !important;
width: 1340px;
}

.dir{
  height: 213.3px;
  width: 142.2px;
}

.bg-nnav-green {
  background-color: #006600;
}

.bg-footer-green {
  background-color: #4d4d4d;
}
.text-color {
  color: #ffffff;
}
.bg-sm {
  background-color: #ffffff;
}

.card-position-login {
    margin-top: 120px;
}

.login-input {
    border-color: #330033;
    border-radius: 50px;
    margin-top: 10px;
}
.logo {
  height: 50px;
  width: 50px;
}
